/* Reset de margem e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo principal com gradiente verde e preto */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #00ff00, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos gerais para os containers */
.container {
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
}

h2, h3 {
    color: white;
    margin: 10px 0;
}

/* Logo centralizada e circular */
.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilo dos carrosséis */
.carrossel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.jogo {
    min-width: 20%; /* Ajuste este valor para o número de jogos visíveis */
    display: flex;
    justify-content: center;
}

.jogo img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

/* Botões de seta */
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    font-size: 30px; /* Aumenta o tamanho da seta */
}

.seta.esquerda {
    left: 10px; /* Ajuste conforme necessário */
}

.seta.direita {
    right: 10px; /* Ajuste conforme necessário */
}

/* Estilo dos canais */
.canais {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.canais img {
    width: 80px;
    margin: 5px;
}

/* Estilos da tabela de classificação */
.tabela-container {
    margin-top: 20px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: left; /* Alinha o texto à esquerda */
}

.tabela th {
    background-color: #00ff00;
    color: #000;
}

/* Estilos responsivos para a tabela */
@media (max-width: 768px) {
    .tabela th, .tabela td {
        padding: 8px; /* Reduz o padding em telas menores */
    }

    .seta {
        font-size: 24px; /* Reduz o tamanho da seta em telas menores */
    }
}

/* Estilos para a imagem da tabela de classificação */
#tabelaImagem {
    display: block; /* Certifica que a imagem é um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    max-width: 100%; /* Mantém a responsividade */
}