{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Cadastro</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <!-- Cabeçalho com a logo -->
  <header class="header">
    <img src="{% static 'img/futmaxANTIGO.jpg' %}" alt="Logo Futmax" class="logo">
  </header>

  <!-- Seção principal de cadastro -->
  <main class="login-container">
    <h2>Cadastro</h2>
    
    <!-- Formulário de cadastro com redirecionamento para a página de login -->
   <form method="POST" action="{% url 'cadastro' %}">
    {% csrf_token %}
    <input type="text" name="nome" placeholder="nome">
    <input type="text" name="email" placeholder="email" required>
    <input type="password" name="senha" placeholder="senha">
    <input type="password" name="confirma_senha" placeholder="confirma_Senha" required>
    <button type="submit">Cadastrar</button>
    
</form>
   
    
    <p>Já tem uma conta? <a href="{% url 'index' %}">Faça login</a></p>
  </main>
</body>
</html>
