{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos do Dia</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="top-bar">
    <div class="menu-icon" onclick="toggleMenu()">&#x22EE;</div> <!-- Três pontinhos -->
    <div class="profile-icon"><a href="{% url 'configuracao' %}">👤</a></div>
</div>
    
<div class="menu" id="menu">
    <a href="{% url 'resultados' %}">Resultados</a>
    <a href="{% url 'classificacao' %}">Classificação</a>
</div>

<div class="container">
    <div class="header">
        <img src="{% static 'img/futmaxANTIGO.jpg' %}" alt="Logo Futmax" class="logo">
        <h2>Jogos disponíveis</h2>
    </div>

    {% for categoria, lista_jogos in jogos.items %}
        <h3>{{ categoria }}</h3>
        <div class="carrossel-container">
            <button class="seta esquerda" onclick="moverCarrossel('carrossel{{ categoria|slugify }}', 'esquerda')">&#10094;</button>
            <div class="carrossel" id="carrossel{{ categoria|slugify }}">
                {% for jogo in lista_jogos %}
                    <div class="jogo">
                        <a href="{{ jogo.link }}">
                            <img src="{% static jogo.imagem %}" alt="{{ jogo.descricao }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button class="seta direita" onclick="moverCarrossel('carrossel{{ categoria|slugify }}', 'direita')">&#10095;</button>
        </div>
    {% endfor %}
</div>

<script src="{% static 'script.js' %}"></script>
</body>
</html>
