{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FuteMax - Transmissão ao Vivo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">⋮</div>
    <div class="profile-icon" onclick="goToProfile()">👤</div>

    <div class="menu" id="menu">
        <a href="iniciar.html">Jogos</a>
        <a href="resultados.html">Resultados</a>
        <a href="classificacao.html">Classificação</a>
    </div>

    <div class="container">

        <div class="game-info">
           
            <div class="team-flags">
                <!-- Envolver o botão "play" com um link <a> -->
                <div class="play-button">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SXWcNL-7OtY?si=2dAO4DBOqkDi5JGz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="summary">
            <h2>Resumo da Partida: Liverpool x São Paulo</h2>
       

        <div class="details">
            <p><strong>Data:</strong> 18 de dezembro de 2005</p>
            <p><strong>Horário:</strong> 16h30 (horário de Brasília)</p>
            <p><strong>Local:</strong> Estádio Yokohama, Tokio</p>
        </div>
        <br>
        <div class="comments">
                <h3>Comentários</h3>
                <p>A final do Mundial de Clubes de 2005 entre São Paulo e Liverpool, disputada em Yokohama, foi uma das partidas mais memoráveis da competição. O São Paulo venceu por 1x0 com um gol de Mineiro, após resistir à forte pressão do Liverpool, que teve três gols anulados por impedimento. O goleiro Rogério Ceni foi o destaque, realizando defesas decisivas e sendo eleito o melhor jogador da partida. Esse triunfo garantiu ao São Paulo seu terceiro título mundial e consolidou uma geração de jogadores na história do clube.</p>
        </div>
        </div>
    </div> 

    <script src="script.js"></script>
</body>
</html>
