{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FuteMax - Transmissão ao Vivo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="top-bar">
    <div class="menu-icon" onclick="toggleMenu()">⋮</div>
    <div class="profile-icon" onclick="goToProfile()">👤</div>
</div>
    <div class="menu" id="menu">
        <a href="iniciar.html">Jogos</a>
        <a href="resultados.html">Resultados</a>
        <a href="classificacao.html">Classificação</a>
    </div>

    <div class="container">

        <div class="game-info">
           
            <div class="team-flags">
                <!-- Envolver o botão "play" com um link <a> -->
                <div class="play-button">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/n1djfyh8ePk?si=b8cP9DKlxRhWwCTe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="summary">
            <h2>Resumo da Partida: Fortaleza x Atlético Mineiro</h2>
       

        <div class="details">
            <p><strong>Data:</strong> 16 de outubro de 2024</p>
            <p><strong>Horário:</strong> 21h00 (horário de Brasília)</p>
            <p><strong>Local:</strong> Arena castelão, Fortaleza</p>
        </div>
        <br>
        <div class="comments">
                <h3>Comentários</h3>
                <p>Fortaleza e Atlético-MG empataram por 1 a 1 nesta quarta-feira, em um jogo equilibrado e cheio de alternâncias, válido pela 30ª rodada do Campeonato Brasileiro de 2024. O confronto, disputado na Arena Castelão, teve momentos de boa intensidade, com ambas as equipes buscando a vitória, que era importante para suas respectivas posições na tabela. O empate refletiu bem o equilíbrio entre os times, que tiveram boas chances de vencer, mas também falharam na hora de aproveitar as oportunidades.</p>
        </div>
        </div>
    </div> 

    <script src="script.js"></script>
</body>
</html>
