{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FuteMax - Transmissão ao Vivo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="top-bar">
    <div class="menu-icon" onclick="toggleMenu()">⋮</div>
    <div class="profile-icon" onclick="goToProfile()">👤</div>
</div>
    <div class="menu" id="menu">
        <a href="iniciar.html">Jogos</a>
        <a href="resultados.html">Resultados</a>
        <a href="classificacao.html">Classificação</a>
    </div>

    <div class="container">

        <div class="game-info">
           
            <div class="team-flags">
                <!-- Envolver o botão "play" com um link <a> -->
                <div class="play-button">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VHonXUjCZ3g?si=X8NLum-zN9_EIBeR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="summary">
            <h2>Resumo da Partida: Liverpool x Bayer Leverkusen</h2>
       

        <div class="details">
            <p><strong>Data:</strong> 05 de novembro de 2024</p>
            <p><strong>Horário:</strong> 16h00 (horário de Brasília)</p>
            <p><strong>Local:</strong> Anfield, Inglaterra</p>
        </div>
        <br>
        <div class="comments">
                <h3>Comentários</h3>
                <p>O Liverpool brilhou em Anfield e venceu o Bayer Leverkusen por 4 a 0 em uma exibição dominante pela Liga dos Campeões, mantendo seu 100% de aproveitamento na competição. O grande nome da noite foi Luis Díaz, que fez um hat-trick impecável, incluindo um gol sensacional, e foi o grande responsável pela goleada expressiva. O time de Arne Slot dominou do início ao fim e fez uma exibição de alto nível, deixando claro que está em grande forma na busca pelo título europeu.</p>
        </div>
        </div>
    </div> 

    <script src="script.js"></script>
</body>
</html>
