{% extends 'modelo.html' %}

{% block content %}
<div class="game-info">
    <div class="team-flags">
        <div class="play-button">
            <!-- Vídeo do YouTube embutido -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KXT0N2RLD0A?si=rCodgA4v7S6T6DW3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="summary">
    <h2>Resumo da Partida: Monaco x Barcelona</h2>

    <div class="details">
        <p><strong>Data:</strong> 19 de setembro de 2024</p>
        <p><strong>Horário:</strong> 16h00 (horário de Brasília)</p>
        <p><strong>Local:</strong> Estádio Louis II</p>
    </div>

    <div class="comments">
        <h3>Comentários</h3>
        <p>Em um jogo de altos e baixos, o Barcelona foi derrotado pelo Mônaco por 2 a 1, em uma partida marcada por um gol histórico de Lamine Yamal...</p>
    </div>
</div>
{% endblock %}
