{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="menu-icon" onclick="toggleMenu()">&#x22EE;</div> <!-- Três pontinhos -->
        <div class="profile-icon" onclick="goToProfile()">👤</div>
    </div>

    <div class="menu" id="menu">
        <a href="{% url 'classificacao' %}">Classificação</a>
        <a href="{% url 'iniciar' %}">Jogos</a>
    </div>

    <div class="container">
        <img src="{% static 'img/futmaxANTIGO.jpg' %}" alt="Logo Futmax" class="logo">
        <div class="header">
            <h2>Resultados dos Jogos</h2>
        </div>

        <form method="get" action="{% url 'resultados' %}">
            <select name="campeonato" id="campeonato" onchange="this.form.submit()">
                <option value="">Selecione um campeonato</option>
                <option value="brasileirao" {% if campeonato_selecionado == "brasileirao" %}selected{% endif %}>
                    Campeonato Brasileiro
                </option>
                <option value="champions" {% if campeonato_selecionado == "champions" %}selected{% endif %}>
                    Champions League
                </option>
                <option value="epicos" {% if campeonato_selecionado == "epicos" %}selected{% endif %}>
                    Jogos Épicos
                </option>
            </select>
        </form>

        <div class="tabela-container">
            {% if jogos %}
                <h2>{{ campeonato_selecionado|title }}</h2>
                <div class="linha">
                    {% for jogo in jogos %}
                        <div class="jogo-container">
                            <img class="escudo" src="{% static jogo.escudos.0 %}" alt="{{ jogo.time1 }}">
                            <p class="placar">{{ jogo.placar }}</p>
                            <img class="escudo" src="{% static jogo.escudos.1 %}" alt="{{ jogo.time2 }}">
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            </div><div class="linha">  <!-- Fecha a linha a cada 4 jogos -->
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Selecione um campeonato para ver os resultados.</p>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
